<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input {
            margin: 10px;
            padding: 10px;
            width: 300px;
        }

        input[type="submit"] {
            width: 100px;
            background-color: blue;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("form").submit(function (e) {
                e.preventDefault();
                var newPassword = $("input[name='newPassword']").val();
                var ConfirmPassword = $("input[name='ConfirmPassword']").val();
                if (newPassword != ConfirmPassword) {
                    alert("Password and Confirm Password should be same");
                    return;
                }
                $.ajax({
                    url: "/users/changePassword",
                    type: "POST",
                    data: {
                        email: "<%= email %>",
                        newPassword: newPassword,
                        confirmPassword: ConfirmPassword
                    },
                    success: function (data) {
                        alert("Password changed successfully. Please login with new password.")
                        window.location.href = "http://localhost:3000/users/login";
                    }
                });
            });
        });
    </script>
</head>


<body>
    <h1>Forget Password</h1>
    <form>
        <input type="email" name="email" placeholder="Enter your email" value="<%= email %>" disabled>
        <input type="password" name="newPassword" placeholder="Enter new password">
        <input type="password" name="ConfirmPassword" placeholder="Confirm new password">
        <input type="submit" value="Submit">
    </form>
</body>

</html>