<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Link</title>
</head>
<body>
    <h1>Reset Password Link</h1>
    <p>Click the link below to reset your password</p>
    <a href="<%= userInfo.link %>">Reset Password</a>
</body>
</html>